body{
background: lightgrey;
}
.header{
  position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
 width: 100%;
 height: 100px;
  background-color: black;
  text-align: center;
  font-size: 40px;

}
.login{
  color:black;
  border: 1px solid lightgrey;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
background-color: white;
    text-align: center;
    height:310px;

}
p.head{
  color: white;
}
p.color{
  color:black;
  font-size: 30px;
  font-style: normal;

}
button.btn{
  background-color:black;
  padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:white;
}
.lb{
  float: left;
  margin-left: 90px;
  color:black;
  font-weight: bold;
}
.lb1{
  float: left;
  margin-left: 90px;
  color:black;
  font-weight: bold;
}
.footer{
  position: fixed;
 bottom: : 0;
 left: 0;
 z-index: 999;
 width: 100%;
 height: 100px;
  background-color: black;
  text-align: center;
  font-size: 40px;

}
p.foot{
  color:white;
font-size: 20px;

}
.user{
  background-color: lightgrey;

}
.pass{
  background-color: lightgrey;
}
